@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <section class="jumbotron text-center">
        <span class="h5">The world's first online platform for runners</span>
        <h2>Meetup and connect with runners near you!</h2>
        <h5>A community of runners, passionate about running and life. Ready to find your accoutability partner?</h5>
        <hr />
        <br />
        <h2>5 ESSENTIAL ACCESSORIES FOR RUNNING:</h2>
    </section>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="img/homeimage1.jpg" width="100" height="225" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">1. A pair of running shoes suited for trail running</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="img/homeimage2.jpg" width="100" height="225" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">2. A measuring tool such as a smart watch</p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="img/homeimage3.jpg" width="100" height="225" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">3. The right pair of running pants or shorts</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="img/homeimage4.jpg" width="100" height="225" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">4. A practical hydration pack</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="img/homeimage5.jpg" width="100" height="225" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">5. A protective cap</p>
                </div>
            </div>
        </div>
    </div>
</div>